.Footer {
    border-top: solid 1px #CCCCCC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 30px 120px 30px;
    gap: 50px;
}

.footer-info {
    width: 300px;
    max-width: 90%;
}

.footer-info-title {
    font-weight: bold;
    margin-bottom: 1rem;
}

.phone-number {
    color: darkgreen;
    font-weight: bold;
}

