header {
    border-bottom: solid 1px #CCCCCC;
    position: sticky;
    top: 0;
    z-index: 3;
}
.Navbar * {margin: 0;}
.Navbar {
    display: flex;
    font-size: 22px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.Navbar a {
    text-decoration: none;
    color: inherit;
}

.logo {
    height: 80px;
    margin-bottom: -5px;
}

.navbar-center {
    margin-right: 150px;
}
.navbar-center a.active {
    color: green;
    text-decoration: underline;
    text-decoration-color: green;
    text-underline-offset: 5px;
}
.navbar-right a {
    color: grey;
}

.nav-item {
    display: inline-block;
    padding: 0 5px;
}

.nav-item a:hover, .nav-item .darkmode-btn:hover {
    background: rgba(230, 230, 230, 0.6);
    border-radius: 10px;
    cursor: pointer;
}

.nav-item * {
    padding: 8px 12px;
}

.darkmode-btn {
    border: 0;
    padding: 0;
    background-color: inherit;
}

.darkmode-btn img {
    height: 1.3rem;
}

.navbar-break { display: none; }

@media (max-width: 768px) {
    .Navbar {
        font-size: 18px;
    }
    .navbar-right {
        order: 1;
    } 
    /* Linkbreak; Navbar becomes two lines on mobile */
    .navbar-break {
        flex-basis: 100%;
        display: block;
        order: 2;
    }
    .logo {
        height: 70px;
    }
    .navbar-center {
        order: 3;
        white-space: nowrap;
        margin-top: 5px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    
}