.Office {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin: 50px 70px 70px 70px;
}

.address {
    text-align: center;
}

.map-container {
    width: clamp(300px, 100%, 800px);
}
.map-image {
    border-radius: 20px;
    border: solid 1px #999999;
    cursor: pointer;
    width: 100%;
}

.map-comment {
    margin: 0.5rem;
    text-align: right;
    color: #999999;
    font-size: smaller;
}
