.Office {
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 1s ease, transform 1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 50px 0 100px 0;
}

.address {
    text-align: center;
}

.address p:first-of-type {
    line-height: 1.5;
}

.map-container {
    width: clamp(300px, 90%, 800px);
    height: 450px;
    outline: 1px solid #999999;
}

.map-infowindow {
    background: white;
    position: relative;
    bottom: 62px;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px #999999;
    font-weight: bold;
    font-size: 90%;
}
.map-infowindow a {
    text-decoration: none;
    color: black;
}